<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <h1>Delete Item</h1>
    <h2>Are you sure you want to delete {{item.name}}?</h2>
    <form method="POST" , action="">
      <input type="hidden" name="id" required value={{item._id}} />
      <input type="submit" value="Yes" />
    </form>
  </body>
</html>