<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory Application</title>
  </head>
  <body>
    <h1>Index</h1>
    <div id="category-links-container">
      <a href="/categories">View all categories</a>
      <a href="/categories/create">Create New Category</a>
    </div>

    <div id="item-links-container">
      <a href="/items">View all Items</a>
      <a href="/items/create">Create New Item</a>
    </div>
  </body>
</html>