<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>Seafood Inventory</header>
    <nav>
      <div class="nav-item">
        <a href="/">Home</a>
      </div>
      <div class="nav-item">
        <a href="/categories">Categories</a>
      </div>
      <div class="nav-item">
        <a href="/items">Items</a>
      </div>
    </nav>
    {{{body}}}
  </body>
</html>